.profile-page {
  background-image: url("/src/assets/images/background_image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.foods-container {
  display: flex;
  justify-content: center;
}

.bad-foods-title, .good-foods-title {
  font-size: 30px;
  margin-top: 20px;
}

.good-foods-container, .bad-foods-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}