.profile-page {
  background-image: url("/src/assets/images/background_image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.foods-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bad-foods-title, .good-foods-title {
  font-size: 30px;
  margin-top: 20px;
}

.good-foods-container, .bad-foods-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  align-items: center;
}

.unsave-food-button {
  border: 2px solid rgba(177, 173, 168, 0.5);
  border-radius: 8px;
  height: 30px;
  width: 125px;
  margin-top: 20px;
  background-color: aliceblue;
  cursor: pointer;
}