.checkbox-form-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.checkbox-form-register {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.checkbox-form-search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}