* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.app-search-container {
  display: flex;
  background-color: rgb(205, 205, 184);
}